<header>
    <div class="divLogoContainer">
        <div class="logo" style="background-image: url('/assets/logo.png');"></div>
        <p>Defaulter Group</p>
    </div>
    <nav class="navMenu">
        <li><a href="/">Home</a></li>
        <li><a href="/debtsList">Debts List</a></li>
        <li><a href="/signIn">Sign In</a></li>
        <li><a href="/signUp">Sign Up</a></li>
    </nav>
</header>