<%- include("partials/head") %>
<%- include("partials/header") %>

<main class="mainDebtsList">
    <section class="debtsListSection">
        <% debtList.map(debt => { %>
            <%- include("partials/debt", {debt}) %>
        <% }) %>
    </section>
    <form action="/debtsList" method="POST">
        <input type="text" name="debtor" placeholder="Debtor" required>
        <input type="number" name="debt" placeholder="Debt" required>
        <div>
            <label for="USD">USD</label>
            <input type="radio" name="isUSD" value="true" id="USD">
            <label for="ARG">ARG</label>
            <input type="radio" name="isUSD" value="false" id="ARG" checked>
        </div>
        <input type="submit" value="Create debt">
    </form>
</main>

<%- include("partials/footer") %>