<%- include("partials/head") %>
<%- include("partials/header") %>

<main class="mainHome">
    <section class="image1Home">
        <article>
            <div style="background-image: url('/assets/image1.png');"></div>
        </article>
    </section>
    <section class="callToActionSection">
        <a href="/signIn">
            <h2>You have an account?</h2>
            <p>Sign In!</p>
        </a>
        <a href="/signUp">
            <h2>You don't have an account?</h2>
            <p>Sign Up!</p>
        </a>
    </section>
    <section class="image2Home">
        <article>
            <div style="background-image: url('/assets/image2.png');"></div>
        </article>
    </section>
</main>

<%- include("partials/footer") %>