<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Home</title>
</head>
<body>
    <header>
        <div class="divLogoContainer">
            <div class="logo" style="background-image: url('/assets/logo.png');"></div>
            <p>Defaulter Group</p>
        </div>
        <nav class="navMenu">
            <li><a href="/">Home</a></li>
            <li><a href="/debtsList">Debts List</a></li>
            <li><a href="/signIn">Sign In</a></li>
            <li><a href="/signUp">Sign Up</a></li>
        </nav>
    </header>
    <main class="mainHome">
        home
    </main>
    <footer>
        <div class="divLogoContainer footerLogo">
            <div class="logo" style="background-image: url('/assets/logo.png');"></div>
            <p>Defaulter Group</p>
        </div>
        <nav class="navMenu">
            <li><a href="/">Home</a></li>
            <li><a href="/debtsList">Debts List</a></li>
            <li><a href="/signIn">Sign In</a></li>
            <li><a href="/signUp">Sign Up</a></li>
        </nav>
        <!-- <nav className="socialMediaFooter">
            <a href="https://www.facebook.com/" target="_blank" className="facebookFooter" rel="noreferrer"><ImFacebook2/></a>
            <a href="https://twitter.com/" target="_blank" className="twitterFooter" rel="noreferrer"><FaTwitterSquare/></a>
            <a href="https://www.instagram.com/" target="_blank" className="instagramFooter" rel="noreferrer"><FaInstagramSquare/></a>
            <a href="https://www.youtube.com/" target="_blank" className="youtubeFooter" rel="noreferrer"><FaYoutube/></a>
        </nav> -->
    </footer>
</body>
</html>