html * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: sans-serif;
}

::-webkit-scrollbar {
    background: #41AEA9;
}

::-webkit-scrollbar-thumb {
    background: #25625f;
}

header {
    background: #A6F6F1;
    display: flex;
    justify-content: space-between;
    height: 20vh;
}

header .aLogoContainer,
footer .aLogoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
    text-decoration: none;
}

header .aLogoContainer .logo,
footer .aLogoContainer .logo {
    width: 5rem;
    height: 2.69rem;
    background-position: center;
    background-size: cover;
}

header .aLogoContainer p,
footer .aLogoContainer p {
    color: #213E3B;
    font-weight: bold;
}

header .navMenu,
footer .navMenu {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

header .navMenu a,
footer .navMenu a {
    text-decoration: none;
    padding-right: 0.5rem;
    color: #213E3B;
    font-weight: bold;
}

footer {
    background: #213E3B;
    display: flex;
    justify-content: space-between;
    height: 20vh;
}

footer .aLogoContainer p,
footer .navMenu a {
    color: #E8FFFF;
}

footer .navMenu a {
    padding-left: 0.5rem;
}

footer .aLogoContainer {
    display: none;
}

footer .socialMediaFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vh;
    flex-wrap: wrap;
}

footer .socialMediaFooter a {
    width: 7vh;
    height: 7vh;
    margin: 1vh;
}

footer .socialMediaFooter a svg{
    width: 100%;
    height: 100%;
}

footer .socialMediaFooter .facebookFooter {
    color: #3b5998;
}

footer .socialMediaFooter .twitterFooter {
    color: #00acee;
}

footer .socialMediaFooter .instagramFooter {
    color: #833AB4;
}

footer .socialMediaFooter .youtubeFooter {
    color: #c4302b;
}


main {
    min-height: 60.1vh;
    background: #E8FFFF;
    display: flex;
}

.mainHome {
    flex-direction: column;
    align-items: center;
}

.mainHome .image1Home,
.mainHome .image2Home {
    position: relative;
    width: 70%;
}

.mainHome .image1Home article,
.mainHome .image2Home article {
    position: relative;
    width: 100%;
    padding-bottom: 79.96%;
}

.mainHome .image2Home article {
    padding-bottom: 84.37%;
}

.mainHome .image1Home article div,
.mainHome .image2Home article div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    left: 0;
    top: 0;
}

.mainHome .callToActionSection {
    display: flex;
    justify-content: space-evenly;
}

.mainHome .callToActionSection a {
    width: 40%;
    text-align: center;
    border: 3px solid #213E3B;
    border-radius: 30px;
    padding: 10px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainHome .callToActionSection a p,
.mainHome .callToActionSection a h2 {
    color: #213E3B;
    font-weight: bold;
}

.mainSignUp,
.mainSignIn,
.mainEditDebt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainSignUp form,
.mainSignIn form,
.mainDebtsList form,
.mainEditDebt form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.mainSignUp form input,
.mainSignIn form input,
.mainDebtsList form input,
.mainEditDebt form input {
    border: none;
    background: #213E3B;
    color: #E8FFFF;
    width: 70%;
    padding: 5px 0px;
    text-align: center;
    margin: 10px 0px;
}

.mainSignUp form input:first-child {
    margin-top: 20px;
}

.mainSignUp form input:last-child,
.mainSignIn form input:last-child,
.mainDebtsList form input:last-child,
.mainEditDebt form input:last-child {
    margin-bottom: 20px;
    background: #A6F6F1;
    color: #213E3B;
    border-radius: 10px;
    width: 6rem;
}

.mainSignUp form input::placeholder,
.mainSignIn form input::placeholder,
.mainDebtsList form input::placeholder,
.mainEditDebt form input::placeholder {
    color: #E8FFFF;
    opacity: 0.6;
}

.mainSignUp form p,
.mainSignIn form p {
    font-weight: bold;
    color: red;
    font-size: 0.8rem;
    text-align: center;
    margin: 0px 10px;
}

.mainDebtsList {
    flex-direction: column;
    align-items: center;
}

.mainDebtsList .debtsListSection {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.mainDebtsList .debtsListSection article {
    width: 45%;
    text-align: center;
    background: #213E3B;
    border-radius: 20px;
    padding: 5px;
    margin: 15px 0px;
}

.mainDebtsList .debtsListSection .noDebtsArticle {
    width: 60%;
}

.mainDebtsList .debtsListSection article h3,
.mainDebtsList .debtsListSection article p {
    font-weight: bold;
    font-size: 1rem;
    color: #213E3B;
    margin: 5px 0px;
    color: #E8FFFF;
}

.mainDebtsList .debtsListSection article .priceGreen {
    color: rgb(0, 184, 0);
}

.mainDebtsList .debtsListSection article .priceRed {
    color: red;
}

.mainDebtsList .debtsListSection article .optionsDiv {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0px;
}

.mainDebtsList .debtsListSection article .optionsDiv a {
    color: #E8FFFF;
}

.mainDebtsList .debtsListSection article .optionsDiv svg {
    width: 30px;
    height: 30px;
}

.mainDebtsList form,
.mainEditDebt form {
    border: 3px solid #213E3B;
    margin: 20px;
    width: 80%;
    border-radius: 20px;
}

.mainDebtsList form div input,
.mainEditDebt form div input {
    width: 20px !important;
    margin: 10px 10px 20px 0px;
}



@media only screen and (min-width: 300px) {
    .mainHome .callToActionSection a {
        border-radius: 20px;
    }

    .mainSignUp form p,
    .mainSignIn form p {
        font-size: 1rem;
    }

    .mainDebtsList form input,
    .mainEditDebt form input {
        width: 70%;
    }

    .mainDebtsList .debtsListSection article h3,
    .mainDebtsList .debtsListSection article p {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 350px) {    
    footer .aLogoContainer {
        display: flex;
    }
}

@media only screen and (min-width: 400px) {
    header .navMenu {
        flex-direction: row;
        flex: 1;
    }
    
    .mainSignUp form input,
    .mainSignIn form input {
        width: 60%;
    }

    .mainSignUp form p,
    .mainSignIn form p {
        font-size: 1.2rem;
        margin: 0px;
    }

    .mainDebtsList form,
    .mainEditDebt form {
        width: 70%;
    }

    .mainDebtsList form input,
    .mainEditDebt form input {
        width: 60%;
    }

    .mainDebtsList .debtsListSection article {
        width: 40%;
    }

    .mainDebtsList .debtsListSection article h3,
    .mainDebtsList .debtsListSection article p {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 500px) {
    footer .navMenu {
        flex-direction: row;
        flex: 1;
    }

    .mainHome {
        flex-direction: row;
    }    

    .mainHome .image1Home {
        width: 40%;
    }

    .mainHome .image2Home {
        display: none;
    }

    .mainHome .callToActionSection {
        width: 60%;
    }

    .mainDebtsList form,
    .mainEditDebt form {
        width: 60%;
    }

    .mainDebtsList form input,
    .mainEditDebt form input {
        width: 50%;
        font-size: 1.2rem;
    }

    .mainDebtsList form input:last-child,
    .mainEditDebt form input:last-child {
        padding: 10px;
        width: 8rem;
    }

    .mainDebtsList .debtsListSection article h3,
    .mainDebtsList .debtsListSection article p {
        font-size: 1.6rem;
    }
}

@media only screen and (min-width: 600px) {
    .mainSignUp form input,
    .mainSignIn form input {
        width: 50%;
    }

    .mainDebtsList form,
    .mainEditDebt form {
        width: 50%;
    }

    .mainDebtsList .debtsListSection {
        width: 80%;
    }

    .mainDebtsList .debtsListSection article {
        width: 35%;
    }
}

@media only screen and (min-width: 700px) {
    header .navMenu a,
    footer .navMenu a {
        font-size: 1.5rem;
    }

    .mainSignUp form input,
    .mainSignIn form input {
        width: 40%;
    }
    
    .mainSignUp form p,
    .mainSignIn form p {
        font-size: 1.3rem;
    }

    .mainDebtsList form input,
    .mainEditDebt form input {
        width: 40%;
        font-size: 1.5rem;
    }

    .mainDebtsList form input:last-child,
    .mainEditDebt form input:last-child {
        padding: 10px;
        width: 10rem;
    }

    .mainDebtsList .debtsListSection article h3,
    .mainDebtsList .debtsListSection article p {
        font-size: 1.8rem;
    }
}

@media only screen and (min-width: 800px) {
    .mainDebtsList .debtsListSection article h3,
    .mainDebtsList .debtsListSection article p {
        font-size: 1.8rem;
    }
}

@media only screen and (min-width: 900px) {
    .mainHome .image1Home,
    .mainHome .image2Home {
        width: 25%;
    }
    
    .mainHome .image2Home {
        display: block;
        width: 25%;
        margin-right: 5%;
    }

    .mainHome .callToActionSection {
        width: 45%;
    }

    .mainSignUp form input,
    .mainSignIn form input {
        width: 30%;
    }

    .mainDebtsList form,
    .mainEditDebt form  {
        width: 40%;
    }

    .mainDebtsList form input,
    .mainEditDebt form input {
        width: 40%;
    }

    .mainDebtsList .debtsListSection article {
        width: 30%;
        margin: 15px 10px;
    }
}

@media only screen and (min-width: 1000px) {
    .mainHome .callToActionSection a p,
    .mainHome .callToActionSection a h2 {
        font-size: 1.5rem;
    }
    
    header .aLogoContainer p,
    footer .aLogoContainer p {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 1080px) {
    header .navMenu a,
    footer .navMenu a {
        font-size: 2rem;
    }

    header .aLogoContainer .logo,
    footer .aLogoContainer .logo {
        width: 8rem;
        height: 4.31rem;
    }

    .mainDebtsList form,
    .mainEditDebt form {
        width: 30%;
    }

    .mainDebtsList form input,
    .mainEditDebt form input {
        width: 50%;
    }
}

@media only screen and (min-width: 1440px) {
    .mainHome .callToActionSection a p,
    .mainHome .callToActionSection a h2 {
        font-size: 2rem;
    }

    header .navMenu a,
    footer .navMenu a {
        font-size: 3rem;
    }

    header .aLogoContainer p,
    footer .aLogoContainer p {
        font-size: 1.6rem;
    }

    header .aLogoContainer .logo,
    footer .aLogoContainer .logo {
        width: 10rem;
        height: 5.38rem;
    }

    .mainSignUp form input,
    .mainSignIn form input {
        width: 25%;
        font-size: 1.6rem;
    }
    
    .mainSignUp form p,
    .mainSignIn form p {
        font-size: 1.6rem;
    }

    .mainSignUp form input:last-child,
    .mainSignIn form input:last-child {
        width: 9rem;
    }

    .mainDebtsList form,
    .mainEditDebt form {
        width: 20%;
    }

    .mainDebtsList form input,
    .mainEditDebt form input {
        width: 60%;
    }

    .mainDebtsList .debtsListSection {
        width: 70%;
    }

    .mainDebtsList .debtsListSection article {
        width: 20%;
        margin: 15px 20px;
    }
}

@media only screen and (min-width: 1920px) {
    .mainHome .callToActionSection a p,
    .mainHome .callToActionSection a h2 {
        font-size: 3.5rem;
    }

    header .navMenu a,
    footer .navMenu a {
        font-size: 4rem;
    }

    header .aLogoContainer p,
    footer .aLogoContainer p {
        font-size: 2.5rem;
    }

    .mainSignUp form input,
    .mainSignIn form input {
        width: 25%;
        font-size: 1.9rem;
    }
    
    .mainSignUp form p,
    .mainSignIn form p {
        font-size: 1.9rem;
    }

    .mainSignUp form input:last-child,
    .mainSignIn form input:last-child {
        width: 12rem;
    }

    .mainDebtsList form input,
    .mainEditDebt form input {
        width: 50%;
        font-size: 2rem;
    }

    .mainDebtsList form label,
    .mainEditDebt form label {
        font-size: 1.5rem;
    }

    .mainDebtsList form input:last-child,
    .mainEditDebt form input:last-child {
        width: 15rem;
    }

    .mainDebtsList .debtsListSection article h3,
    .mainDebtsList .debtsListSection article p {
        font-size: 2.2rem;
    }

    .mainDebtsList .debtsListSection article .optionsDiv svg {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (min-width: 2560px) {
    .mainHome .callToActionSection a p,
    .mainHome .callToActionSection a h2 {
        font-size: 5rem;
    }

    header .navMenu a,
    footer .navMenu a {
        font-size: 5rem;
    }

    header .aLogoContainer p,
    footer .aLogoContainer p {
        font-size: 3rem;
    }

    .mainSignUp form input,
    .mainSignIn form input {
        font-size: 2.5rem;
    }
    
    .mainSignUp form p,
    .mainSignIn form p {
        font-size: 2.5rem;
    }

    .mainSignUp form input:last-child,
    .mainSignIn form input:last-child {
        width: 15rem;
    }

    .mainDebtsList form input,
    .mainEditDebt form input {
        width: 60%;
        font-size: 2.5rem;
    }

    .mainDebtsList form label,
    .mainEditDebt form label {
        font-size: 2rem;
    }

    .mainDebtsList .debtsListSection article h3,
    .mainDebtsList .debtsListSection article p {
        font-size: 3rem;
    }

    .mainDebtsList .debtsListSection article .optionsDiv svg {
        width: 70px;
        height: 70px;
    }
}


/*
#E8FFFF
#A6F6F1
#41AEA9
#213E3B
*/